.red {
  color: #E74431;
}

.orange {
  color: #E79F31;
}

.yellow {
  color: #E3E338;
}

.green {
  color: #12A766;
}

.highlight {
  background-color: #FEE123;
}

.blue {
  color: #326ACD;
}

.purple {
  color: #6832CD;
}

.large { 
  font-size: 130% 
}

.small { 
  font-size: 60% 
  
}

.smallish {
  font-size: 80%;
}

.remark-slide-content {
    font-size: 25px;
    padding: 1em 4em 1em 4em;
}

.bq {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}


.left-column-black-text {
  color: black;
  width: 30%;
  height: 92%;
  float: left;
}


.smaller-picture{
  color: black;
  float: left;
  width: 70%;
  padding-left: 4em;
}

.words-right-picture{
  width: 40%;
  float: right;
}


.left-column-big {
  color: black;
  width: 67%;
  height: 92%;
  float: left;
}

.right-column-small{
  color: black;
  width: 30%;
  height: 92%;
  float: right;
}

.smallest-picture{
  color: black;
  float: right;
  width: 60%;
}


.right-column-big{
  color: black;
  width: 60%;
  height: 92%;
  float: right;
}


.left-column-small{
  color: black;
  width: 35%;
  height: 92%;
  float: left;
}