.remark-slide-content {
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  padding: 20px 60px;
}

.remark-slide-content > h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #e6f0ff;
  border-left: 10px solid black;
  padding-left: 5px;
}

.remark-slide-number {
  font-size: 20px;
  color: black;
}

.footnote {
  font-size: 20px;
  border-left: solid black;
  background-color: #ededed;
  border-width: 5px;
  padding-left: 5px;
}

.title-slide {
  background-image: url(https://raw.githubusercontent.com/sdimakis/moral_psychology/master/lectures/images/trolley_bridge.jpg);
  background-color: white;
  background-size: 400px;
  border-top: 10px solid black;
  border-bottom: 10px solid black;

}


.title-slide h1 {
  font-size: 60px;
  text-align: left;
  margin-top: 400px;
  color: black;
  background-color: #e6f0ff;
  border-left: 10px solid black;
  padding-left: 5px;
  text-shadow: none;
}

.title-slide h2 {
  font-size: 20px;
  text-align: left;
  padding-top: 0px;
  margin-top: 0px;  
  color: black;
  background-color: #ededed;
  border-left: 10px solid black;
  padding-left: 5px;
  text-shadow: none;
}

.title-slide .remark-slide-number {
  text-shadow: none;
}

