.remark-slide-content {
  border: 10px solid black;
  padding: 20px 60px;
}

.remark-slide-content > h1 {
  margin-top: 20px;
  margin-bottom: 0px;
}

.inverse {
  background-color: white;
  border:none;
  font-color: #fff;
  text-shadow: none;
}

.inverse, .inverse h1, .inverse h2, .inverse a {
  color: #fff;
}

.inverse h3 {
  color: #000;
}

.inverse code {
  color: #E1E000;
}

.footnote {
  border-top: 2px solid black;
  font-size: 0.6em;
}

.remark-code-line-highlighted { background-color: rgba(225, 224, 0, 0.6); }

h1, h2 {
  color: black;
  font-size: 60px;
}

code {
  color: #007935;
}

a {
  color: #3F97B5;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

a:hover {
    font-size: 1.2em;
    color: #EC008C;
}

.remark-slide-number {
  font-size: 0.6em;
}

.title-slide {
  background-image: url(https://raw.githubusercontent.com/sdimakis/moral_psychology/master/lectures/images/hand.jfif);
  background-size: 1000px;
  border: 10px solid black;;
}

.title-slide h1 {
  padding-top: 260px;
  font-size: 60px;
  text-align: left;
  margin-top: 160px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, -2px 2px 0 #000;

}

.title-slide h2 {
  font-size: 20px;
  text-align: left;
  padding-top: 0px;
  margin-top: 0px;  
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px 1px 0 #000;

}

.title-slide .remark-slide-number {
  display: none;
}

.mjx-chtml { font-size: 100% !important; }