@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');


body {font-family: 'Yanone Kaffeesatz', sans-serif;}
h1{font-family: 'Crimson Text', serif;}
h2{font-family: 'Yanone Kaffeesatz', sans-serif;}

